{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block titulo %}
    <title>Modelo</title>
    {% endblock %}

    <!-- Google Icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!-- Styel CSS local -->
    <link rel="stylesheet" href="{% static 'css/style_modelo.css' %}">

    
</head>

<body>

    {% block menu %}
    <nav>
        <div class="menu-proposta">
            <div class="logo-proposta">
                <span><img src="{% static 'img/Logo.png' %}"></span>
            </div>
        </div>

    </nav>
    {% endblock %}

    {% block conteudo %}



    {% endblock %}

</body>

</html>