*
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tab
{
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    width: 70rem;
    margin: 50px auto; 
}

.tab #labels
{
    color: #ffffff !important;
}

.tab input[type]
{
    display: none;
}

/* Envolve todo o conteúdo de cada menu */
.tab label
{
    display: inline-block;
    /* float: left; */
    padding: 12px 20px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color .3s;
}

.tab #labels:hover,
.tab input:checked + label
{
    background: #e39b42;
    /* color: #5da1ff; */
}

.tabs
{
    clear: both;
    perspective: 400px;
    -webkit-perspective: 400px;
}

.tabs .content
{
    background: #ffffffc4;
    width: 70rem;
    position: absolute;
    padding: 10px 30px 40px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotateX(-20deg);
    transform-origin: top center;
    transition: opacity .3s, transform 1s;
    z-index: 0;
}

#tab_cadastro:checked ~ .tabs .content:nth-of-type(1),
#tab_orcamento:checked ~ .tabs .content:nth-of-type(2),
#tab_dashboard:checked ~ .tabs .content:nth-of-type(3),
#tab_clientes:checked ~ .tabs .content:nth-of-type(4), 
#tab_propostas:checked ~ .tabs .content:nth-of-type(5)
{
  transform: rotateX(0);
  opacity: 1;
  z-index: 1;
}

/* Formulário de Cadastro de cliente. */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    min-height: 100%;

}

.form_cliente
{
    margin-top: 30px;
    /* border: 1px solid #b3b3b3; */
    
}

fieldset legend
{
    margin: 0px 10px 0 10px;
    padding: 0px 3px 0 3px;
}
form label
{
    display: block;
    margin-top: 5px;
    text-align: center;
}

/* Estilização dos inputs */
form input[type="text"], input[type="email"], input[type="date"]
{        
    width: 40vh;
    box-sizing: border-box;
    padding: px;
    margin: 0px 10px 0 10px;
    display: table-row !important;
    border: 1px solid #ccc;
    border-radius: 2px;    
    margin-bottom: 10px;
    
}

/* Estilização da seleção de sexo e enviar e-mail */
form select
{
    width: 20vh;
    margin: 0 0 0 10px;

}

/* Estilização do input da data de nascimento */
/* form input[type="date"]
{    
    width: 22%;
    padding: 5px;
    margin: 10px;
    
} */

/* Estilização do form */
.row
{
    display: flex;
    margin-top: 10px
}

.form-group-0
{
    flex: 0;
    height: auto;
    width: auto;
}

.form-group-0 label
{
    margin: 0 0 0 10px;
    padding: 0;
}

.form-group-0 input
{
    margin-top: 0;
}

.form-group-1
{
    flex: 1;
    height: auto;
    width: auto;
}

.form-group-1 label
{
    margin: 0 0 0 10px;
    padding: 0;
}

.form-group-1 input
{
    margin-top: 0;
}

.form-group-2
{
    flex: 1;
    height: auto;
    width: auto;
}

.form-group-2 label
{
    margin: 0 0 0 10px;
    padding: 0;
}

.form-group-2 input
{
    margin-top: 0;
}

#fone,
#cel
{
    width: 30vh;
}
